<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<%= gravatar_for @user %>
  <br>
  <div class="form-group">
      <div class="row">
          <%= f.label :name, "名前:", class: "control-label col-xs-3" %>
          <div class="col-xs-5">
          <%= f.text_field :name, class: "form-control" %>
          </div>
      </div>
  </div>
  <br>
  <div class="form-group">
      <div class="row">
          <%= f.label :email, "メールアドレス:", class: "control-label col-xs-3" %>
          <div class="col-xs-5">
          <%= f.text_field :email, class: "form-control" %>
          </div>
      </div>
  </div>
  <br>
  <div class="form-group">
      <div class="row">
          <%= f.label :language, "言語設定:", class: "control-label col-xs-3" %>
          <div class="col-xs-7">
              <%= render 'language' %>
          </div>
      </div>
  </div>
  <br>
  <div class="form-group">
      <div class="row">
          <%= f.label :timezone, "タイムゾーン:", class: "control-label col-xs-3" %>
          <div class="col-xs-7">
              <%= render 'timezone' %>
          </div>
      </div>
  </div>
  <%= f.submit "変更を保存", class: "btn btn-sm btn-primary" %>
<% end %>